body {
  background-color: #8FBC8F;
  color: #333366;
  font-weight: bold;
  font-style: italic;
}

.com-name {
  font-family: 'Chewy', cursive;
  color:  #333366;
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: 0;
}

#submission_form {
  display: flex;
  flex-direction: row;
}

#formSubmitBtn {
    margin-right: 10px;
}

.form-div {
  margin-left: 20px;
  padding: 100px 0 0 10px;
}

.form-button {
  padding: 129px 0 0 10px;
  margin-left: 40px;
}

.side-img {
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "8:00 am"; }
	td:nth-of-type(2):before { content: "9:00 am"; }
	td:nth-of-type(3):before { content: "10:00 am"; }
	td:nth-of-type(4):before { content: "11:00 am"; }
	td:nth-of-type(5):before { content: "12:00 am"; }
	td:nth-of-type(6):before { content: "1:00 pm"; }
	td:nth-of-type(7):before { content: "2:00 pm"; }
	td:nth-of-type(8):before { content: "3:00 pm"; }
	td:nth-of-type(9):before { content: "4:00 pm"; }
	td:nth-of-type(10):before { content: "5:00 pm"; }
  td:nth-of-type(11):before { content: "6:00 pm"; }
  td:nth-of-type(12):before { content: "Total:"; }
}
